In [1]:
2+1

3

In [2]:
3/2

1.5

In [3]:
0.1+0.2-0.3

5.551115123125783e-17

In [4]:
1/10

0.1

In [5]:
round(0.3,15)

0.3

In [6]:
round(3/10,15)

0.3

In [7]:
1/3

0.3333333333333333

In [8]:
.1+.2==.3

False

In [9]:
.1+.2

0.30000000000000004

In [10]:
a = 10

In [11]:
a

10

In [16]:
a = a + a

In [17]:
a

80

In [18]:
type(a)

int

In [19]:
my_income = 1000
tax_slab = 0.15
my_taxes = my_income*tax_slab

In [20]:
my_taxes

150.0

Strings

In [21]:
'Hello'

'Hello'

In [22]:
"Hello"

'Hello'

In [23]:
"I'm learning python"

"I'm learning python"

In [24]:
print("Hello")

Hello

In [25]:
mystring = "Hello World"

Reverse Indexing in Strings (Python)

In [26]:
mystring[-2]

'l'

Slicing

In [27]:
mystring = "akjsbkasdbglsjdb"

In [28]:
mystring[2:]

'jsbkasdbglsjdb'

In [29]:
mystring[:4]

'akjs'

In [31]:
mystring[::2]

'ajbadgsd'

In [32]:
mystring[2:5]

'jsb'

Reverse a string using slicing

In [33]:
mystring[::-1]

'bdjslgbdsakbsjka'

In [34]:
name = "Anmol"

In [35]:
name[0] = 'D'

TypeError: 'str' object does not support item assignment

In [36]:
name = "Dnmol"

In [37]:
name

'Dnmol'

In [38]:
x = "Hello World"

In [39]:
x.upper()

'HELLO WORLD'

In [40]:
x = "Hi! this is a string"
x.split()

['Hi!', 'this', 'is', 'a', 'string']

In [41]:
x.split('s')

['Hi! thi', ' i', ' a ', 'tring']

In [42]:
my_name = "Anmol"
print("My name is " + my_name)

My name is Anmol

.format() function

In [45]:
"A {q} {b} {f}".format(q='quick',b='brown',f='fox')

'A quick brown fox'

In [46]:
res = 22/7
print(res)

3.142857142857143

In [47]:
print("The result was {r:1.2f}".format(r=res))

The result was 3.14

f-string method

In [48]:
name = "Anmol"
print(f'His name is {name}')

His name is Anmol

LISTS

In [51]:
my_list = ['one','two','three']
print(my_list[0])
my_list[1:]

one

['two', 'three']

In [52]:
another_list = [4,5]
my_list + another_list

['one', 'two', 'three', 4, 5]

In [53]:
new_list = my_list + another_list
new_list

['one', 'two', 'three', 4, 5]

In [54]:
new_list.append(6)

In [55]:
new_list

['one', 'two', 'three', 4, 5, 6]

In [56]:
new_list.pop()
new_list

['one', 'two', 'three', 4, 5]

In [57]:
new_list.pop(0)
new_list

['two', 'three', 4, 5]

In [58]:
new_list = [4,5,6,7,3,2,89,1,1]
new_list.sort()
new_list

[1, 1, 2, 3, 4, 5, 6, 7, 89]

In [59]:
new_list.reverse()
new_list

[89, 7, 6, 5, 4, 3, 2, 1, 1]

DICTIONARIES

In [60]:
d = {'name':"Anmol",'age':21,'marks':{'DCM':32}}

In [61]:
d['name']

'Anmol'

In [62]:
d['marks']

{'DCM': 32}

In [63]:
d['marks']['DCM']

32

In [64]:
d = {'k1':100,'k2':200,'k3':300}
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['k1', 'k2', 'k3'])
dict_values([100, 200, 300])
dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

SETS

In [66]:
my_set = set()
my_set.add(1)
my_set

{1}

In [69]:
my_set.update([3,4,5,6,7,12,3,2,1,2])
my_set

{1, 2, 3, 4, 5, 6, 7, 12}

In [70]:
my_set.remove(3)
my_set

{1, 2, 4, 5, 6, 7, 12}

FILES I/O

In [1]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line
okay some other day

Writing myfile.txt

In [2]:
s = 'anmol'
s.upper()
print(s)

anmol

FOR LOOPS

In [3]:
my_list = [1,2,3,4,5,6,7,8]
for it in my_list:
    print(it)

1
2
3
4
5
6
7
8

In [4]:
my_list_tup = [(1,2),(3,4),(5,6),(7,8)]
for it in my_list_tup:
    print(it)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [5]:
#Tuple Unpacking
for a,b in my_list_tup:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [6]:
my_dict = {'myKey':330}
if 'myKey' in my_dict:
    print('Yes')
else:
    print('No')

Yes

LIST COMPREHENSIONS

In [7]:
usd = [23,4,5,7,234,435,1,32,3432]
inr = [(ele*82.75) for ele in usd]
inr

[1903.25, 331.0, 413.75, 579.25, 19363.5, 35996.25, 82.75, 2648.0, 283998.0]

FUNCTIONS

In [3]:
#Program to check if a number is odd or even

def even_check(num):
    return num%2==0

n = int(input('Enter a number: '))
if even_check(n):
    print("EVEN")
else:
    print("ODD")

ODD

In [5]:
# Program to check if there is even one number that is even in the list

def check_even_list(num_list):
    for nums in num_list:
        if even_check(nums):
            return True
    return False

num_list = [1,3,5,7,9,2]
check_even_list(num_list)

True

In [8]:
# Return all the even numbers in the list
def show_even_numbers(num_list):
    res = []
    for num in num_list:
        if num%2==0:
            res.append(num)
        else:
            pass

    return res

show_even_numbers([1,1,2,1,2,1])

[2, 2]

In [13]:
# Return the employee of the month
def employee_of_the_month(work_hours):
    curr_max = 0
    employee_name = ''
    for name,hours in work_hours:
        if hours > curr_max:
            curr_max = hours
            employee_name = name
        else:
            pass

    return (employee_name,curr_max)        
        
work_hours = [('Anmol',42),('Utkarsh',29),('Siddhant',38)]
employee_of_the_month(work_hours)

('Anmol', 42)